body {
  margin: 0 auto;
  font-family: sans-serif;
  text-align: center;
}

.card-body {
  margin: 0 auto;
  text-align: center;
}

.card {
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-align: center;
}

pic {
  text-align: center;
}
